<template name="todoSubmit">
  <form class="main form page">

    <div class="form-group">
      <label class="control-base" for="task">Task</label>
      <div class="controls">
        <input class="form-control" type="text" name="task" id="task" value="" placeholder="Give your Task a title">
      </div>
    </div>

    <div class="form-group">
      <label class="control-base" for="notes">Notes</label>
      <div class="controls">
        <textarea name="notes" id="notes" value="" placeholder="Add your Notes" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" id="status">
        <option>Pending</option>
        <option>In Progress</option>
        <option>Done</option>
        <option>Overdue</option>
      </select>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary">

  </form>
</template>
